---
verify_ssl: false

connections:
  default:
    ipa_server: "ipa1.dev.domain.tld"
    ipa_username: "devusername"
    ipa_password: "devpassword"
  qa:
    ipa_server: "ipa1.qa.domain.tld"
    ipa_username: "qausername"
    ipa_password: "qapassword"
  prod:
    ipa_server: "ipa1.prod.domain.tld"
    ipa_username: "produsername"
    ipa_password: "prodpassword"
